.*
*.o
*.o.*
tags
TAGS
!.gitignore

patches
series

cscope.*
ncscope.*

*.orig
*~
\#*#
core

*.pyc
*.ll
*.bc
*.s
*.out

*.bin
*.a

*.in
config.*
depcomp
install-sh
missing
libtool
ltmain.sh
stamp-h1
autom4te.cache

configure
Makefile

aclocal.m4
libtool.m4
lt*.m4

llscheme
*.la
*.lo
*.gz
*.bz2
*.xz
*.lzma
